.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.taskInput {
  width: 248px;
  padding: 12px 16px;
  border-radius: 12px;
}
.taskAddButton {
  padding: 12px 16px;
  border: 1px solid;
  border-radius: 12px;
  background-color: rgb(76, 93, 241);
}

.deleteButton {
  padding: 12px 16px;
  border: 1px solid;
  border-radius: 20px;
  background-color: rgb(222, 52, 52);
}
